# Docs for the Azure Web Apps Deploy action: https://go.microsoft.com/fwlink/?linkid=2134798
# More GitHub Actions for Azure: https://go.microsoft.com/fwlink/?linkid=2135048

name: Azure App Service - littlestshop(Production), Build and deploy NodeJS app

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # checkout the repo
    - name: 'Checkout Github Action'
      uses: actions/checkout@v2

    - name: Set up node and build app
      uses: actions/setup-node@v2
      with:
        node-version: '12.x'
      run: |
        npm install
        npm run build --if-present

    - name: Run Azure webapp deploy action using publish profile credentials
      uses: azure/webapps-deploy@v2
      with:
        app-name: littlestshop
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_6F45B3E78C374387A2F4BD2C9B13AD86 }}
        package: .
